<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$charset}>" />
<meta http-equiv="Refresh" content="<{$time}>; url=<{$url}>" />
<title><{$sitename}></title>
</head>
<body background="<{$xoops_url}>/themes/ichigo_milk/imagens/bg.png">
<div style="text-align:center; background-color: #F8EEEF; border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight : bold;">
<b><h4><{$message}></h4></b>
<p><b><h4><{$lang_ifnotreload}></h4><b></p>
</div>
</body>
</HTML>